@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

.bg-image{
  /* background-image: url("../image/logo.png"); */
  background-size: cover;
  height: 100vh;
}

.logo-image{
  margin-top:20px 
}

.option ul {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 4rem;
}

.option li a {
  display: block;
  text-decoration: none;
  color: white;
}

.option li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
  text-underline-offset: 15px;
}

.text{
  font-family: 'Poppins', sans-serif;
  top: 20%;
}

.open{
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
}

.welcome,
.time{
  font-family: 'DM Serif Display', sans-serif;
}

.login-title{
  position: relative;
  left: 10%;
}

.login-form{
  /* width: 80%;
  height: 70%; */
  box-shadow: rgb(0 0 0 / 100%) 1px 1px 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.form-group{
  display: grid;
  position: relative;
  left:20%
}

.login-container{
  height: 100vh;
  overflow: hidden;
}

.textLeft{
  position:absolute;
  top:40%;
  left:15%;
}

table{
  /* width: 80%; */
  padding: 20px;
}

.container-admin{
  margin-top: 30px;
}

.edit-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font-weight: medium;
  font-size: 16px;
}

.tab-button {
  background-color: #f2f2f2;
  border: none;
  color: #666;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #e6e6e6;
}

.tab-button.active {
  background-color: #fff;
  color: #333;
  border-bottom: 2px solid #333;
}

.tab-content {
  display: none;
  padding: 20px;
  /* border: 1px solid #ccc;
  border-top: none; */
}

.tab-content.active {
  display: block;
}

.transaction-table {
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
}

.transaction-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.transaction-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.transaction-table tr:hover {
  background-color: #f5f5f5;
}

.transaction-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}